/* .background {
  background-image: url('../../assets/contact_bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
   object-fit: cover;
}
.background-image::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
}


.form {
  background-color: rgba(153, 243, 231, 0.8);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
}

.form label,
.form input,
.form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.form input[type='submit'] {
  width: 30%;
  padding: 10px;
  text-align: center;
  background-color: #f7921c; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  */
/* formcontact and map css */

.contacts{
  background-image: url('../../assets/contact_bg.jpg');
   background-size: cover;
  background-position: center;
}

.contacts iframe {
  width: 150vh;
  height: 100vh;
  border: none;
}
.contacts .right {
  padding: 50px;
  background-image: url('../../assets/contact_bg.jpg');
}
.contacts h1 {
  font-size: 30px;
  font-weight: 400;
}
.contacts h4 {
  font-size: 30px;
  font-weight: 400;
  color: rgb(27, 26, 26);
}
.contacts p {
  color: grey;
}
.contacts .items {
  margin: 30px 0;
}
.contacts .box p {
  font-size: 17px;
  margin-top: 10px;
}
.contacts textarea,
.contacts input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid grey;
}
form .flexSB input:nth-child(1) {
  margin-right: 10px;
}
.contacts h3 {
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.contacts span {
  color:  #f7921c;
  font-weight: 600;
  font-size: 15px;
  word-spacing: 5px;
}
@media screen and (max-width: 768px) {
  .contacts .container {
    flex-direction: column;
  }
  .contacts iframe {
    height: 50vh;
  }
  .contacts .row {
    width: 100%;
  }
}

/* ****************************************** */


/* Media query for responsiveness */
/* @media screen and (max-width: 768px) {
  .form {
    max-width: 300px;
  }
} */
